<header>
  <div align="center">
    <h1>Trocando acceso รก plataforma</h1>
  </div>
</header>

<section>
  <p><%= render 'form' %></p>
</section>

<footer>
  <div align="center">
    <%= link_to 'Listado de accesos', logins_path %>
  </div>
</footer>