<div class="admin_title">

  <h1>Datos persoais de <%= @user.name %></h1>

  <p id="notice"><%= notice %></p>
  		
</div>

<div class="admin_info" align="center">

  <%= render 'form' %>

</div>

<div class="admin_options"> 

  <%= link_to 'Páxina principal', @user %>

</div> 