<div class="admin_title">
	
  <h1>Novo documento</h1>
  
  <p id="notice"><%= notice %></p>
  
</div>

<div class="admin_info">
	
  <%= render 'form' %>

</div>

<div class="admin_options"> 
	
  <%= link_to 'Lista de documentos', documents_path %>

</div>
