<div class="title">
	
  <h1>Configuración de novo xogo</h1>

  <p id="notice"><%= notice %></p>
	
</div>

<div class="info">
	
  <%= render 'form_for_new' %>

</div>

<div class="options"> 
	
  <%= link_to 'Voltar', user_games_path(@user) %>

</div>
